
.feed-page{
  padding: 20px;
  flex: 1;
  
 
}
.feed-content{
  display: grid;
  grid-template-columns: 1fr 5fr; 

}


.feed-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
 
  }



  .post-link {
    min-height: 300px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post {
    width: 300px; 
    min-height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
  } 
  
 
  .post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .post img {
    width: 100%;
    height: 200px;
    object-fit: cover;

  }
  

  .post p {
    padding: 16px;
  }
  
  .post h1 {
    font-size: 1.25rem;
margin: 35px;
    color: #333;
  }
  
  .tag span {
    font-size: 1rem;
    color: #666;
    margin: 0;
    display: hidden;
  }
  .post-caption{
    flex-grow: 1;
  }
  .post-interactions {
    flex: 1;
    display: flex;
    padding-left: 10px;
  }
  
  .post-comments, .post-reactions {
    display: flex;
    align-items: center; 
    margin-top: 10px;
    margin: 0; 
  }
  
  .comments-title, .reactions-title {
    display: flex;
    align-items: center; 
    margin-right: 16px; 
  }
  
  .comments-title i, .reactions-title i {
    margin-right: 4px; 
    padding: 10px;
  }
 
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  .post-date{
    color: #807d7d;
  }
  .page-button {
    margin: 0 5px;
    border: none;
    background-color: #808285;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.875rem;
  }
  
  .page-button:hover {
    background-color: #0056b3;
  }
  
  #post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;

  }
.post-author-container {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;

}
.post-author-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.post-author-container a {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bold;
}
.reacted{
  color: #e43c0e;
}